extends ../layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5
            .col-md-6 
                p   
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus viverra tellus, sagittis scelerisque massa interdum a. 
                    Donec ipsum nunc, facilisis ut semper ut, faucibus lacinia massa. Suspendisse ornare interdum velit at sollicitudin. Nulla ut nunc 
                    ut ex aliquam blandit scelerisque in justo. Etiam id ipsum fringilla, sodales arcu a, condimentum tortor. Pellentesque eget dui vitae
                    neque tincidunt rutrum. Integer laoreet pulvinar mattis. Fusce vitae elementum lectus, sollicitudin placerat metus. Cras lobortis egestas
                    |lorem, ac consectetur elit commodo non.
                p   
                    Vivamus sed nibh fringilla, fermentum risus in, consectetur purus. Fusce efficitur sapien consequat libero posuere, a ultricies ipsum tempor.
                    Nulla metus libero, luctus sit amet erat nec, convallis efficitur libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis
                    lorem luctus purus fermentum dictum. Duis mattis, mauris lacinia lobortis bibendum, orci leo hendrerit arcu, sit amet suscipit tellus urna et 
                    |sapien. Morbi dui ante, facilisis vitae lorem a, ultrices accumsan nibh.
                p   
                    Morbi sodales leo sit amet sem egestas maximus. Cras iaculis, lorem in porta ornare, enim velit aliquet elit, vel congue justo nibh quis turpis.
                    Duis commodo, nunc quis aliquam pellentesque, est libero rhoncus ante, at tempor ligula tortor eu est. Aliquam sem tellus, tristique quis posuere vel, 
                    facilisis a justo. In lacinia dui id nisi mattis sagittis. Pellentesque ut orci id massa iaculis condimentum sit amet ac nulla. Duis elementum metus tellus, 
                    nec aliquet ligula hendrerit non. Nulla scelerisque, lacus auctor pretium pellentesque, lacus leo scelerisque tortor, ac viverra tortor ipsum non ante.
            
            .col-md-6
                img(src="img/inicio_nosotros.jpg", alt="nosotros", class="img-fluid")
    