extends ../layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src='img/nosotros.jpg', alt='La empresa', class='img-fluid')
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sodales ultrices arcu, ac aliquam ipsum vestibulum vitae. 
                Cras gravida metus arcu, ut laoreet erat malesuada eu. Fusce urna magna, pharetra nec egestas cursus, accumsan a nisi. Nam dapibus 
                ut velit quis auctor. Quisque fermentum ligula tortor, quis porta ligula venenatis eget. Nunc dignissim lectus ipsum, quis aliquam
                erat laoreet eget. Nullam purus purus, viverra a pharetra et, blandit nec sapien. Aenean molestie, lectus ac porttitor consequat, 
                velit dolor fringilla dolor, sit amet pharetra risus nibh in mi. Integer imperdiet, felis vitae consequat convallis, 
                nunc augue porttitor augue, auctor vestibulum mauris ante in turpis.

                p Sed eget sem eget lacus porttitor vestibulum nec et ex. Praesent accumsan magna metus, ut varius quam blandit fringilla. Praesent
                dui quam, dictum sit amet mauris eu, lacinia sodales augue. Phasellus in luctus ipsum. Quisque id mi molestie, ultricies mi sed, 
                lacinia neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque tincidunt, mi vel 
                sollicitudin pellentesque, purus tortor bibendum nisl, et malesuada leo velit at lorem. Aenean ultrices dolor sem. Quisque luctus 
                arcu libero, sed interdum dui dictum ut. Vestibulum bibendum massa volutpat elementum tempus. Donec ut scelerisque ex. Praesent 
                consectetur sapien vitae purus efficitur, sit amet sollicitudin sem congue. Phasellus mollis nisi ac egestas commodo. Mauris id ligula
                quis nisl iaculis accumsan. Suspendisse nibh metus, tristique ac porttitor feugiat, ornare sit amet nulla.

                p Suspendisse luctus magna vitae sapien placerat euismod ac id risus. Nam rhoncus euismod lorem, in rhoncus sem efficitur in. 
                Etiam fringilla diam odio, in commodo elit gravida at. Nam mollis nibh eget iaculis feugiat. Morbi eleifend, justo volutpat maximus gravida,
                metus felis euismod lorem, ac scelerisque leo sapien quis nisl. Morbi cursus porta faucibus. Integer venenatis magna gravida eros molestie pharetra.
                Nullam facilisis, nunc sed consequat vestibulum, ipsum ante pulvinar nisl, eu porta ex dolor sit amet enim. Nullam viverra dolor id laoreet lobortis.

    .listado.iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono_Seguridad" class='img-fluid mb-4')
                    h2.mb-4 Seguridad
                        p  Suspendisse luctus magna vitae sapien placerat euismod ac id risus. Nam rhoncus euismod lorem, 
                            |rhoncus sem efficitur in.                    
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono_Destinos" class='img-fluid mb-4')
                    h2.mb-4 Seguridad
                        p  Suspendisse luctus magna vitae sapien placerat euismod ac id risus. Nam rhoncus euismod lorem, 
                            |rhoncus sem eficitur in.                        
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono_Precios" class='img-fluid mb-4')
                    h2.mb-4 Seguridad
                        p  Suspendisse luctus magna vitae sapien placerat euismod ac id risus. Nam rhoncus euismod lorem, 
                            |rhoncus sem efficitur in. 

